.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.black {
    color: black;
}

.number {
    width: 25px;
    text-align: center;
}

.cko {
    color: white;
    width: inherit;
    margin: auto;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
}

.cko:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px groove (internal value);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mb-6 {
    margin-bottom: 6rem!important;
}

input.count {
    width: 40%;
    text-align: center;
}

input.min {
    text-align: center;
    width: 30%;
}

input.add {
    text-align: center;
    width: 30%;
}

.total {
    text-align: center;
}

tr th{
    text-align: center;
    padding: 0px 15px;
}

tr td{
    text-align: center;
}

#remove{
    margin-right: 15px;
}